server {
    listen       80;
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location @service {
        proxy_set_header Authorization "bearer ACCESS_TOKEN";

        proxy_pass ${PROXY_PASS_TO};
    }

    location = /graphql {
        try_files /dev/null @service;

        # With GraphQL, you use POST requests.
        limit_except POST {
            deny all;
        }
    }

{% for whitelist_url in url_whitelist %}
    location ~ "{{ whitelist_url }}" {
        try_files /dev/null @service;

        # Only allow GET requests to come through
        limit_except GET {
            deny all;
        }
    }
{% endfor %}
}
