# Set production or development environment.
NODE_ENV=production

# Set the hostname and/or port of the OS2MO REST API you want the application to pull data from
VUE_APP_API_BASEURL=http://localhost:5000

# Set a UUID representing whatever organisation unit you want as the default root org
VUE_APP_ROOT_UUID=f06ee470-9f17-566f-acbe-e938112d46d9

# Set type of relation between people and organisations [engagement|association]
# The UI will display people in organisations based on their engagement or association.
VUE_APP_ORG_PERSON_RELATION=engagement

# Set the application title. It will appear in the UI header and in the HTML document title.
VUE_APP_TITLE=Frederikshavn ADM-organisation

# Set local path to CSS file containing custom style variables and overrides.
# You can make a copy of `src/assets/default-theme.css` and edit it to create your own custom theme.
VUE_APP_THEME_CSS=frederikshavn.custom.css

# Set organization tree layout style [horizontal|vertical]
VUE_APP_TREE_LAYOUT=horizontal

# Set local or global path to image file you want as your application's branding image
VUE_APP_LOGO_PATH=https://frederikshavn.dk/Resources/images/frk_logo_blue.svg

# Set local or global path to image file (usually `favicon.ico`) you want as your application's favicon.
VUE_APP_FAVICON_PATH=https://frederikshavn.dk/Resources/images/favicon.ico

# Set list of UUIDS of org_units you want to remove from the tree view
VUE_APP_HIDE_ORG_UNIT_UUIDS=

# True or False, hide org_units that ends with "_leder" (specific functionality for Holstebro)
VUE_APP_HIDE_MANAGER_ORG_UNITS=False
