/* 
  ======================
  Horizontal tree layout
  ======================

  Tree layout is vertical on smaller screens.
  On bigger screens, the first 2 levels are horizontal 
  and all sublevels are vertical.

*/

.oc-layout-horizontal {
  @media screen and (min-width: 40rem) {
    .oc-tt-ul-root,
    .oc-tt-ul {
      list-style: none;
    }

    .oc-tt-ul-root {
      width: auto !important;
      height: auto !important;
      margin-top: 2rem;
    }

    .oc-tt-item {
      position: relative;
    }

    .oc-tt-node {
      position: static;
      height: auto !important;
      display: inline-block;
      padding-top: 0.5rem;

      & .oc-tt-node-body {
        height: auto;
        display: flex;
        flex-flow: row nowrap;
      }
    }

    .oc-tt-node-head {
      display: block;
      position: absolute;
      left: -1rem;
      height: 3px;
      width: 1rem;
      top: 1.125rem;
      background-color: var(--shade-lightest);
    }

    .oc-org-link {
      flex: 1 0 auto;
    }

    .oc-tt-item::before {
      content: "";
      display: block;
      position: absolute;
      left: -1rem;
      top: -1.125rem;
      bottom: 0;
      height: auto;
      width: 3px;
      background-color: var(--shade-lightest);
      z-index: -1;
    }

    .oc-tt-item:last-child::before {
      bottom: auto;
      height: 2.25rem;
    }

    .oc-tt-ul {
      margin: 0.5rem 0 1rem;
      padding: 0 0 0 2rem;
    }

    .oc-tt-line {
      display: none;
    }

    & {
      text-align: center;
    }

    .oc-tt-item {
      text-align: left;
    }

    .oc-tt-node-body {
      width: 10rem;

      .oc-org-link {
        flex: 1 1 auto;
      }
    }

    .oc-node-expand-btn[aria-expanded="false"] + .oc-tt-node-tail {
      display: none !important;
    }

    .oc-tt-ul-root {
      display: inline-block;
      margin: 2rem auto;

      & > .oc-tt-item {
        text-align: center;

        &::before {
          display: none;
        }

        & > .oc-tt-node {
          text-align: left;
          margin: 0 auto 1.25rem;
          position: relative;
          top: auto !important;
          left: auto !important;
          height: auto;

          & .oc-tt-node-head {
            display: none;
          }

          & .oc-tt-node-tail {
            display: block;
            position: absolute;
            bottom: -1.125rem;
            top: auto;
            left: 50%;
            height: 1.33rem;
            width: 3px;
            background-color: var(--shade-lightest);
          }
        }

        & > .oc-tt-ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          padding: 0;

          & > .oc-tt-item {
            padding: 0 1rem;

            &::before {
              height: 1.25rem;
              left: 6rem;
              top: -0.75rem;
            }

            & > .oc-tt-node .oc-tt-node-head {
              width: auto;
              top: -0.75rem;
              left: 0;
              right: 0;
            }

            &:first-child > .oc-tt-node .oc-tt-node-head {
              left: 6rem;
            }

            &:last-child > .oc-tt-node .oc-tt-node-head {
              right: calc(100% - 6.175rem);
            }
          }
        }
      }
    }
  }
}
