/* 
    ====================
    Vertical tree layout
    ====================

    Tree layout is vertical on all screens.
*/

.oc-layout-vertical {

    .oc-tt-ul {
        margin: 1rem 0;
        padding: 0 0 0 2rem;
        list-style: none;
    }
    
    .oc-tt-ul-root {
        list-style: none;
        margin: 2rem 0;
        padding: 0 0 0 1rem;
        width: auto !important;
        height: auto !important;

        & > .oc-tt-item::before,
        & > .oc-tt-item > .oc-tt-node > .oc-tt-node-head {
            display: none;
        }
    }

    .oc-tt-item {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -1rem;
            top: -1rem;
            bottom: 0;
            height: auto;
            width: 3px;
            background-color: var(--shade-lightest);
        }
    
        &:last-child:before {
            bottom: auto;
            height: 2.25rem;
        }
    }
  
    .oc-tt-node {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: auto !important;

        .oc-tt-node-head {
            display: block;
            position: absolute;
            left: -1rem;
            height: 3px;
            width: 1rem;
            top: 1.125rem;
            background-color: var(--shade-lightest);
        }
    
        .oc-tt-node-body {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
        }

        .oc-tt-node-tail {
            display: none;
        }
    
        .oc-org-link {
            flex: 1 1 auto;
        }
    
        .oc-node-expand-btn {
            flex: 0 0 1.5rem;
        }
    }
    
    @media screen and (max-width: 39.99rem) {

        
    }

    @media screen and (min-width: 40rem) {

        .oc-tt-ul {
            margin-top: 0;
        } 

        .oc-tt-item {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 1rem;

            &:first-child::before {
                top: 1.125rem;
            }

            &:first-child:last-child::before {
                display: none;
            }

            &:first-child > .oc-tt-line {
                display: block;
                position: absolute;
                top: 1.125rem !important;
                left: -2rem !important;
                right: auto !important;
                width: 2rem;
                height: 3px;
                background-color: var(--shade-lightest);
            }
        }

        .oc-tt-node {
            flex: 0 0 auto;
        }

        .svg-toggle {
            transform: rotate(270deg);
            transition: transform 0.3s;
        }

        .oc-node-expand-btn.close .svg-toggle {
            transform: rotate(90deg);
        }
    }
}